.contract-form-container {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contract-form-alert {
    width: 100%;
  }
  
  .contract-form {
    width: 100%;

    .contract-form-daterangepicker {
      margin-bottom: 1em;
    }
  }
}