.daycard-container {
  border: 1px black solid;
  padding: 5px;
  flex-basis: 100%/7;
  text-align: center;
  box-sizing: border-box;

  .daycard-job-li {
    &.daycard-job-li-complete {
      text-decoration: line-through;
    }
  }
}