@import 'variables';

.dispatch-calendar-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
 
  .dispatch-calendar-days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    width: 100%;
    

    .weekday-container {
      border: 1px black solid;
      padding: 5px;
      flex-basis: 100%/7;
      text-align: center;
      box-sizing: border-box;
      
    }
    .daycard-container {
      .daycard-day-summary {
        &:hover {
          color: $hover-color1;
          cursor: pointer;
        }
      }

    }
  }

}