@import 'variables';

.dispatch-calendar-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: 10px solid $border-color1;

  .dispatch-calendar-days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    width: 100%;
    

    .weekday-container {
      border: 1px black solid;
      padding: 5px 0px 0px 0px;

      text-align: center;
      box-sizing: border-box;
      
    }
    .daycard-container {
      margin: 5px;

      &:hover {

        box-shadow: 0 0 12px $border-color1;
        cursor: pointer;
      }

    }
  }

}