@import 'variables';

.client-card-container {
  border: 1px $border-color2 solid;
  border-radius: $card-border-radius;
  text-align: left;
  padding: .5em;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  background-color: $bg-color1;

  .client-card-info {
    padding: .5em;
  }

  .client-card-body {
    .contractcard-container {
      width: 100%;
      // border: 1px $border-color2 solid;
      // border-radius: 10px 10px;
      // padding: .5em;
    }
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  @media (max-width: $med) {

  }

  @media (max-width: $sm) {
    flex-direction: column;
  }
}