@import "~bootstrap/scss/bootstrap";
@import 'variables';

.alert.confirm-alert {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
  z-index: 10;
  border-radius: $card-border-radius;
  padding: .5em;
  .alert-heading {
    margin-bottom: 0;
  }
  .alert-body {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .alert-actions {
      display: flex;
      
      Button {
        margin: .25em .1em;
      }
    }
  }

  @media (max-width: $med) {
    .alert-heading {
      font-size: 1.2em;
    }
  }

  @media (max-width: $sm) {
    .alert-heading {
      font-size: 1em;
    }
    .alert-body {

      .alert-actions {

        Button {
          padding: 2px;
        }
      }
    }
  }
}
