@import "~bootstrap/scss/bootstrap";

.confirm-alert {
  width: 100%;
  height: 100%;

  .alert-body {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    align-items: center;
    Button {
      margin: .25em 0em .5em .25em;

    }
  } 
}
