@import 'mixins';
@import 'variables';

.contract-form-container {
  @include formContainerStyles;

  .contract-form-alert {
    width: 100%;
  }
  
  .contract-form {
    width: 100%;

    input.contract-form-daterangepicker {
      margin-bottom: 1em;
      width: 100%;
    }
    @media (max-width: $sm) {
      .client-information {
        
        input {
          width: 100%;
        }
        
        
      }
      input.contract-form-daterangepicker {
        width: 90%;
      }
    }
  }
}