@import 'mixins';

.contracts-container {
  @include pageStyles;
  .contracts-page-header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .radio-filters {
      width: 100%;
      border-radius: 5px;
      border: 1px $bg-color2 dotted;
      padding: 1em 0em;
      margin-bottom: .5em;
    }
  }
}