@import 'variables';

.contractcard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px $border-color2 solid;
  border-radius: 10px 10px;
  background-color: $bg-color2; 
  padding: .5em;
  
  &:hover {
    box-shadow: 0 0 15px $hover-color1;
  }

  &.selected {
    background-color: $confirm-selected-color;
    box-shadow: 0 0 15px $confirm-selected-color;
  }

  .contractcard-body {
    display: flex;
    flex-direction: column;
    
    p {
      margin: 0;
    }
  }
  .contractcard-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    span.contractcard-status {
      margin: 0em .5em;
      padding: .5em;
      background-color: green;
      border-radius: 20px 20px;
      color: white;
      &.current {
        background-color: green;
      }
      &.past {
        background-color: gray;
      }
      &.upcoming {
        background-color: purple;
      }
    }
    .contractcard-actions {
      padding: .5em;
    }  
  }

  
  @media (max-width: $med) {
    flex-direction: column;
    .contractcard-body {
      flex-direction: column;
    }
  }

}