@import 'mixins';

.contract-form-container {
  @include formContainerStyles;

  .contract-form-alert {
    width: 100%;
  }
  
  .contract-form {
    width: 100%;

    .contract-form-daterangepicker {
      margin-bottom: 1em;
    }

    .contract-form-submit {
      margin-left: 88%;
    }
  }
}