@import 'variables';

.card.contractcard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px $border-color2 solid;
  border-radius: $card-border-radius;
  background-color: $bg-color2; 
  margin-bottom: 5px;

  &:hover {
    box-shadow: 0 0 15px $hover-color1;
  }

  // &.selected {
  //   background-color: $confirm-selected-color;
  //   box-shadow: 0 0 15px $confirm-selected-color;
  // }

  .card-body.contractcard-body {
    display: flex;
    flex-direction: column;
    
    p {
      margin: 0;
    }
  }
  .card-footer.contractcard-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    // bg color and border-top are bootstrap styles, so they need to be removed
    background-color: transparent;
    border-top: none;

    span.contractcard-status {
      margin: 0em .5em;
      padding: .5em;
      background-color: green;
      border-radius: 20px 20px;
      color: white;
      &.active {
        background-color: green;
      }
      &.complete {
        background-color: gray;
      }
      &.upcoming {
        background-color: purple;
      }
    }
    .contractcard-actions {
      padding: .5em;
    }  
  }

  
  @media (max-width: $med) {
    flex-direction: column;
    .contractcard-body {
      flex-direction: column;
    }
  }

}