@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

.crewCard-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px $accent-color1 solid;
  border-radius: 15px;
  background-color: $bg-color1;
  margin-bottom: 5px;
  padding: 1em;

  .crewCard-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 30%;

    .crewCard-avatar {
      height: 7em;
      width: 7em;
      max-width: 8rem;
      max-height: 8rem;
      background-color: $accent-color1;
    }
    
    .crewCard-jobs-container {
      margin-left: 1em;

      .crewCard-job-completed {
        text-decoration: line-through steelblue;
      }
    }
  }
    
  .crewCard-footer {
    min-width: max-content;
    align-self: flex-start;
  }

  @media (max-width: $sm) {
    flex-direction: column;
    .crewCard-body {
      width: 80%;
      image.crewCard-avatar {
        margin-right: 0em;
      }
    }
    .crewCard-footer {
      align-self: center;
    }
  }
  
  @media (max-width: $lg) {
    .crewCard-body {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
  }

  @media (min-width: $lg) {
    .crewCard-avatar {
      margin-right: 2em;
    }
  }
}