@import 'variables';
@import 'mixins';

.crew-jobspage-container {
  @include pageStyles;
  .jobcard-container {
    width: 100%;
    margin-bottom: $grid-gap;
    grid-template-columns: 40% 40% 20%;
  
  }

  @media (max-width: $sm) {
    .jobcard-container {
      grid-template-columns: 33.3% 33.3% 33.3%;
    }
  }
}