@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

.card.crewCard-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px $accent-color1 solid;
  border-radius: 15px;
  background-color: $bg-color1;
  margin-bottom: 5px;

  .card-body.crewCard-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 30%;
    max-width: 60%;
    padding: 1em;

    .crewCard-avatar {
      height: 7em;
      width: 7em;
      max-width: 8rem;
      max-height: 8rem;
      background-color: $accent-color1;
    }

    .crewCard-info {
      .crewCard-status {
        border: 1px $accent-color1 solid;
        margin: 0em .5em;
        padding: .5em;
        border-radius: 20px 20px;
        color: white;
        &.active-crew {
          background-color: green;
        }
        &.inactive-crew {
          background-color: gray;
        }
      }
    }
    .crewCard-jobs-container {
      margin-left: 1em;

      .crewCard-job-completed {
        text-decoration: line-through steelblue;
      }
    }
  }
    
  .crewCard-footer {
    position: absolute;
    min-width: max-content;
    align-self: flex-end;
    top: 1em;
    right: 1em;
  }

  @media (max-width: $sm) {
    flex-direction: column;
    .card-body.crewCard-body {
      width: 90%;
      image.crewCard-avatar {
        margin-right: 0em;
      }
    }
    .crewCard-footer {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: $lg) {
    .card-body.crewCard-body {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
  }

  @media (min-width: $lg) {
    .crewCard-avatar {
      margin-right: 2em;
    }
  }
}