@import 'mixins';
@import 'variables';

.crews-dashboard-container {
  @include mainPageStyles;
  
  .edit-profile-button {
    height:max-content;
    justify-self: center;
    
    a {
      color: white;
      text-decoration: none;
    }
  }
  .profile {
    border: 5px $accent-color1 dotted;
    padding: 1em;
    border-radius: $card-border-radius;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: flex-start;
  
    .profile-header {
      text-align: right;
    }
    .profile-details {
      .crew-status {
        border: 1px $accent-color1 solid;
        padding: .25em;
        border-radius: 20px 20px;
        color: white;
        &.active-crew {
          background-color: green;
        }
        &.inactive-crew {
          background-color: gray;
        }
      }
      img {
        height: 10em;
        width: 10em;
        border-radius: 50%;
        background-color: $accent-color1;
      }
    }

  }

  @media (max-width: $med) and (min-width: $sm) {
    .profile {
      align-self: center;
      flex-direction: row;
      
      .profile-header {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .profile-details {
        width: 100%;
      }
      button {
        margin-left: .5em;
      }
    }
  }

  @media (max-width: $sm) {
    .profile {
      width: 100%;

      .profile-details {
        
        img.profile-avatar {
          height: 40vw;
          width: 40vw;
        }
      }
    }
  }
}