@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

.crewCard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px $accent-color1 solid;
  border-radius: 15px;
  background-color: $bg-color1;
  padding: 5px;

  .crewCard-body {
    display: flex;
    flex-direction: row;
    align-items: center;

    .crewCard-avatar {
      height: 7em;
      background-color: $accent-color1;
      margin: 0em 1em;
    }
    
    .crewCard-jobs-container {
      margin-left: 1em;
      
      .crewCard-job-completed {
        text-decoration: line-through steelblue;
      }
    }
  }
    
  .crewCard-footer {
    align-self: flex-start;
    margin: 0.5em;
  }
}