@import 'variables';
@import 'mixins';

.crew-jobspage-container {
  @include pageStyles;
  .jobcard-container {
    width: 100%;
    margin-bottom: $grid-gap;
    grid-template-columns: 45% 45% 10%;
  
  }

  @media (max-width: $sm) {
    .jobcard-container {
      display: flex;
      // grid-template-columns: 40% 40% 20%;
    }
  }
}