@import 'mixins';
@import 'variables';

.crews-dashboard-container {
  @include mainPageStyles;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  @media (max-width: $med) {
    flex-direction: column;
    align-items: center;
  }
}