@import 'variables';
@import 'mixins';

.dispatch-calendar-container {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 100%;
  border: 5px solid $border-color1;
  border-radius: 20px 20px;
  height: fit-content;
  align-items: center;

  .dispatch-calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .dispatch-calendar-title {
      margin: 0em 1em;
    }
    button {
      margin: 3px;
    }
  }
  .dispatch-calendar-days-container {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;


    .weekday-container {
      border: 1px black solid;
      padding: 5px 0px 0px 0px;
      text-align: center;
      box-sizing: border-box;
    }
    .daycard-container {

      &:hover {
        box-shadow: 0 0 12px $border-color1;
        cursor: pointer;
      }
    }

    
  }

  @media (max-width: $sm) {

    .dispatch-calendar-header {
      flex-direction: column;
      width: 90vw;

      button {
        height: max-content;
        align-self: center;
        margin: 1px;
      }
    }
    .dispatch-calendar-days-container {
      gap: 1px;

      .weekday-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        
        h3 {
          font-size: .9em;
        }
      }
    }
  }
}