@import 'variables';
@import 'mixins';

.dispatch-dashboard-container {
  @include pageStyles;
  padding: 0;
  max-width: 98vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}