@import "variables";

$logo-shadow: 0 0 10px white;

.dispatch-nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  padding: 1em 1.5em;
  background-color: $nav-background;
  
  .dispatch-nav-logo-link {
    text-decoration: none;
  }
  .dispatch-nav-logo {
    color: $logo-text-color;
    font-size: 2em;
    text-shadow: none;
    transition: text-shadow 500ms ease-in-out;
    &:hover {
      animation: shadowFade 500ms 1;
      text-shadow: $logo-shadow;
    }

    @keyframes shadowFade {
      from {text-shadow: initial}
      to {text-shadow: $logo-shadow}
    }
  }

  .dispatch-nav-right {
    display: flex;
    margin-left: auto;
    .dropdown-menu {

      .nav-link {
        &:hover {
          background-color: lightgray;
        }
      }
    }
    .dispatch-nav-dropdown {
      color: white;
    }

    .nav-buttons {
      button {
        margin-left: .5em;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  
}