@import 'variables';

.dispatch-calendar-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 95%;
  border: 5px solid $border-color1;
  border-radius: 20px 20px;
  height:max-content;
  

  // min-width: max-content;
  .dispatch-calendar-days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    min-width: 100%;
    

    .weekday-container {
      border: 1px black solid;
      padding: 5px 0px 0px 0px;

      text-align: center;
      box-sizing: border-box;
      
    }
    .daycard-container {
      margin: 5px;
      
      &:hover {

        box-shadow: 0 0 12px $border-color1;
        cursor: pointer;
      }

    }
  }

}