@import 'variables';

.card.jobcard-container {
  width: 100%;

  &.hidden-date {
    grid-template-columns: 50% 40% 10%;
  }
  padding: .5em;
  background-color: $bg-color2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 70% 20% 10%;
  align-items: center;
  border-radius: $card-border-radius;
  text-align: center;
  
  &.hidden-crew {
    margin-bottom: $grid-gap;
    padding: 0em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .jobcard-header {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    text-align: left;
  }
  .jobcard-date {
    display: flex;
    flex-direction: row;
    // margin-left: .5em;
    :first-child {
      margin-right: .25em;
    }
  }
  .jobcard-crew {
    
    img {
      background-color: $accent-color1;
      border-radius: 50% 50%;
      height: 5em;
      width: 5em;
    }
  }

  .jobcard-complete-button {
    margin: .3em 0em;
    max-height: 4em;
    max-width: 10em;
    justify-self: flex-end;

  }

  &.selected {
    background-color: $confirm-selected-color;
  }

  &.jobcard-complete {
    background-color: $bg-color3;
    .jobcard-complete-button {
      border-color: black;
      color: black;
      background-color: lightgray;
      
    }
  }

  @media (max-width: $med) {
    display: flex;
    padding: 0;
    flex-direction: column;

    &.hidden-crew {
      display: flex;
      flex-direction: row;
    }
    .jobcard-header {
      text-align: center;
    }
    .jobcard-date {
      flex-direction: column;
    }
    .jobcard-complete-button {
      margin: .5em;
    }
  }

  @media (max-width: $sm) {
    display: flex;
    flex-direction: column;
    padding: 0;
    &.hidden-date {
     display: flex;
     flex-direction: column; 
    }
    &.hidden-crew {
      display: flex;
      flex-direction: row;
    }
    
    .jobcard-complete-button {
      margin: .3em 0em;
    }
  }
}