@import 'variables';

.jobcard-container {
  padding: 0.5em 1em 0.5em 1em;
  background-color: $bg-color2;

  border-radius: 10px 10px;
 
  .jobcard-complete-button {
    margin: .3em 0em;
  }

  &.selected {
    background-color: $confirm-selected-color;
  }

  &.jobcard-complete {
    background-color: $bg-color3;
  }
}