@import 'variables';

.card.jobcard-container {

  padding: 0.5em 1em 0.5em 1em;
  background-color: $bg-color2;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-radius: $card-border-radius;
  align-items: center;

  .jobcard-date {
    display: flex;
    flex-direction: column;
  }
  .jobcard-crew {
    
    img {
      background-color: $accent-color1;
      border-radius: 50% 50%;
      height: 5em;
      width: 5em;
    }
  }

  .jobcard-complete-button {
    margin: .3em 0em;
    max-height: 4em;
    max-width: 10em;
    justify-self: center;
  }

  &.selected {
    background-color: $confirm-selected-color;
  }

  &.jobcard-complete {
    background-color: $bg-color3;
    .jobcard-complete-button {
      border-color: black;
      color: black;
      background-color: lightgray;
    }
  }

  @media (max-width: $med) {
    grid-template-columns: 50% 50%;
  }

  @media (max-width: $sm) {

  }
}