@import 'mixins';
@import 'variables';

.jobs-container {
  @include pageStyles;
  .jobs-page-header {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .accordion {
      width: 15em;
    }
  }
  .jobs-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid-gap;
  }

}