@import 'variables';

@mixin formContainerStyles {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media (max-width: $sm) {
    font-size: 1.1em;
  }

  @media (max-width: $med) {
    width: 100%;
    font-size: 1.2em;
    button.form-submit {
      position: absolute;
      margin-left: 0;
      right: 5px;
    }
  }
  
  @media (min-width: $lg) {

    width: 40em;
    
    
    form  {
      width: 100%;
    }
    
    button.form-submit {
      position: relative;
      margin-left: 88%;
    }
  }
}

@mixin pageStyles {
  width: 97vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0vh 1vw;
  
  .search {
    width: 100%;
  }

  
  @media (max-width: $sm) {
    font-size: 1.3em;
  }

  @media (max-width: $med) {

  }

  @media (min-width: $lg) {

  }
}


@mixin containerStyles {
  width: 100%;
  padding: 0em 1em;
}

@mixin gridStyles {
  width: 100%;
  display: grid;
  gap: $grid-gap;
  grid-template-columns: repeat(auto-fit, 20em);
  justify-content: center;
}