@import 'variables';

@mixin formContainerStyles {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  form  {
    width: 100%;
  }

  button.form-submit {
    position: relative;
    margin-left: 88%;
  }

  @media (max-width: $med) {
    width: 100%;
    font-size: 1.4em;
    button.form-submit {
      position: absolute;
      margin-left: 0;
      right: 5px;
    }
  }

  @media (max-width: $sm) {

    font-size: 1.1em;

  }


}

@mixin pageStyles {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $sm) {
    width: 100%;
    font-size: 1.5em;
  }
}