@import 'mixins';
@import 'variables';

.packages-container {
  @include pageStyles;
  
  .packages-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
   
    .package-card-container {
      width: 100%;
    }
  }
}