@import 'variables';

.card.package-card-container {
  min-height: max-content;
  max-width: 100vw;
  background-color: $bg-color2;
  border-radius: $card-border-radius;
  .package-card-actions {
    display: flex;
    justify-content: flex-end;
    margin: 0em .5em .5em 0em;

  }
}