$sm: 500px;
$med: 660px;
$lg: 900px;

$nav-background: rgb(37, 66, 110);
$logo-text-color: white;
$accent-color1: rgb(9, 73, 133);
$bg-color1: rgba(9, 73, 133, 0.555);
$bg-color2: rgb(214, 207, 207);
$bg-color3: rgb(158, 158, 158);
$hover-color1: rgb(8, 117, 241);

$current-color: green;
$upcoming-color: purple;
$past-color: orange;

$border-color1: rgb(8,117,241);
$border-color2: gray;
$confirm-selected-color: crimson;
$nav-height: 5.5em;
$nav-height-mobile: 6.5em;